@import '@/sass/_variables.scss';

#main-wrapper {
  background: rgb(240, 240, 240);
  background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
  font-family: monospace;
}

#content-wrapper {
  padding: 0px !important;
  margin-top: $top_header_height;
  margin-bottom: $footer_height;
  height: $dynamic_content_height;
}